<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- конфигурации приложения -->
	<appSettings>
		<add key="UseConnection" value="RemoteDbConnection"/>
	</appSettings>
	<!-- строки подключения к БД -->
	<connectionStrings>
		<!-- строка для локальной БД -->
		<add name = "LocalDbConnection" connectionString="
			Data Source = FISHMAN\SQLEXPRESS;
			Initial Catalog = entity_db_pv_225;
			Integrated Security = SSPI;
			TrustServerCertificate = Yes;
		"/>
		<!-- строка для удаленной БД -->
		<add name = "RemoteDbConnection" connectionString="
			Data Source = sql.bsite.net\MSSQL2016;
			Initial Catalog = denf_;
			User = denf_;
			User ID = denf_;
			Password = 1111;
			TrustServerCertificate = Yes;
		"/>
	</connectionStrings>
</configuration>
